@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.progress-bar {
    width: calc(100% - 1rem);
}

body {
    background-image: url('/images/background/eso-texture.png')
}

.progress-text {
    color: white;
    mix-blend-mode: difference;
}

.progress-bar-black {
    mix-blend-mode: screen;
}